.ProductsContainer {
    width:1890px;
    margin:auto;
    margin-top: 30px;
}

.ProductsTitleLine {
    margin: 0 15px;
    border-bottom: 2px solid rgba(129, 129, 129, 0.5);
    display: flex;
    align-items: flex-end;
}

.ProductsTitleLine div{
    margin-left: 50px;
    font-size: 36px;
}

.ProductsTitleLine i{
    margin-left: 30px;
    font-size: 34px;
    height:34px;
    color: #545454
}

.ProductsTitleLine i:hover{
    color: black;
    cursor: pointer;
}

.ProductsListContainer {
    display: flex;
    flex-wrap: wrap;
    min-height:225px;
    align-content: flex-start;
}

.NoProductsMessage {
    margin:50px auto;
    font-size:34px;
}

.AddButton{
    margin: 15px auto;
    display: flex;
    width:200px;
    height:40px;
    background: linear-gradient(315deg, #A3ECD3 0%, rgba(77, 231, 177, 0.5) 50%), #3DD8C1;  
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border:none;
    border-radius: 2px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 1.5px;
    font-size: 24px;
    font-weight: 900;
}

.AddButton:hover{
    background: linear-gradient(315deg, #7FE9C4 0%, rgba(59, 230, 170, 0.5) 50%), rgb(38, 184, 162);
}

.AddButton:focus {
    outline: none;
}

.AddButton:active {
    position: relative;
    left:2px;
    top:2px;
}

@media (min-width: 2560px ) {
    .ProductsContainer {
        width: 2490px;
    }
}

@media (max-width: 1900px) {
    .ProductsContainer {
        width: 1260px;
    }
}

@media (max-width: 1300px) {
    .ProductsContainer {
        width: 630px;
    }
    .ProductsListContainer {
        min-height: 0;
    }
}

@media (max-width: 660px) {
    .ProductsContainer {
        width: 430px;
    }
    .ProductsTitleLine div{
        margin-left: 20px;
        font-size: 28px;
    }
    .NoProductsMessage {
        margin:40px auto;
        font-size:26px;
    }
    .AddButton{
        width:160px;
        height:30px;
        font-size: 20px;
    }
}

@media (max-width: 460px) {
    .ProductsContainer {
        width: auto;
    }
    .ProductsTitleLine div{
        margin-left: 20px;
        font-size: 24px;
    }
    .NoProductsMessage {
        font-size:20px;
    }
}