.ProductsContainer {
    width:1890px;
    margin:auto;
    margin-top: 30px;
}

.ProductsTitleLine {
    margin: 0 15px;
    border-bottom: 2px solid rgba(129, 129, 129, 0.5);
}

.ProductsTitleLine div{
    margin-left: 50px;
    font-size: 36px;
}

.ProductsListContainer {
    display: flex;
    flex-wrap: wrap;
    min-height:225px;
    align-content: flex-start;
}

.NoProductsMessage {
    margin:50px auto;
    font-size:28px;
}

.AddButton{
    margin: 15px auto;
    display: flex;
    width:200px;
    height:40px;
    background: #4DE7B1;  
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border:none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 1.5px;
    font-size: 24px;
    font-weight: 900;
}

.AddButton:hover{
    background-color: rgb(60, 211, 158);
}

.AddButton:focus {
    outline: none;
}

.AddButton:active {
    position: relative;
    left:2px;
    top:2px;
}

@media (min-width: 2560px ) {
    .ProductsContainer {
        width: 2490px;
    }
}

@media (max-width: 1900px) {
    .ProductsContainer {
        width: 1260px;
    }
}

@media (max-width: 1300px) {
    .ProductsContainer {
        width: 630px;
    }
    .ProductsListContainer {
        min-height: none;
    }
}

@media (max-width: 660px) {
    .ProductsContainer {
        width: 430px;
    }
    .ProductsTitleLine div{
        margin-left: 20px;
        font-size: 28px;
    }
}

@media (max-width: 460px) {
    .ProductsContainer {
        width: auto;
    }
    .ProductsTitleLine div{
        margin-left: 20px;
        font-size: 24px;
    }
}