.Container input {
    border:none;
    background-color:transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color:black;
    font-size: 30px;
    border-bottom: 2px solid #545454;
    margin: 30px;
    margin-top: 50px;
    width:600px;
}

.Container input:focus {
    outline: none;
    border-bottom: 2px solid #F696B0;
}

.Container input::placeholder {
    color:#545454;
}

.Container ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 20px;
}

.Container li {
    list-style-type: none;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background-color: #eee;
    margin:10px;
    margin-top: 0;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    align-items: center;
    display: flex;
}

.Container li:hover {
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.Container li i {
    color:#545454;
    font-size: 35px;
    margin: auto;
}

.ProductAvatarContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.ProductAvatarContainer div:last-child {
    display: flex;
    flex-direction: column;
}

.ProductAvatar {
    margin-left: 30px;
    width:120px;
    height:120px;
    color: white;
    background: linear-gradient(315deg, #eee 0%, rgba(255, 255, 255, 0) 50%), #545454;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    z-index:5;
    text-align: center;
}

.ProductAvatar i {
    margin-top: 10px;
    font-size: 100px;
}

.Container button {
    margin: 30px auto;
    display: block;
    width:200px;
    height:40px;
    background: linear-gradient(315deg, #A3ECD3 0%, rgba(77, 231, 177, 0.5) 50%), #3DD8C1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    color:white;
    border-radius: 2px;
    border:none;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-weight: 900;
}

.Container button:hover {
    background: linear-gradient(315deg, #7FE9C4 0%, rgba(59, 230, 170, 0.5) 50%), rgb(38, 184, 162);
}

.Container button:focus {
    outline: none;
}

.Container button:active {
    position: relative;
    left:2px;
    top:2px;
}

.Container .AddProductButtonDisabled {
    background: linear-gradient(315deg, rgb(199, 200, 200) 0%, rgba(136, 138, 137, 0.5) 50%), rgb(90, 90, 90);
    cursor: not-allowed;
}

.Container .AddProductButtonDisabled:hover {
    background: linear-gradient(315deg, rgb(199, 200, 200) 0%, rgba(136, 138, 137, 0.5) 50%), rgb(90, 90, 90);
}

@media(max-width: 800px) {
    .Container input {
        width:400px;
    }
    .ProductAvatar {
        width:80px;
        height:80px;
    }
    .ProductAvatar i {
        font-size: 60px;
    }
    .Container ul {
        margin-bottom: 15px;
    }
    .Container li {
        height: 30px;
        width: 30px;
        margin: 5px;
        margin-top: 0;
    }
    .Container li i {
        font-size: 20px;
    }
}

@media(max-width: 490px) {
    .Container input {
        width:80%;
        font-size: 26px;
    }
    .ProductAvatarContainer {
        flex-direction: column;
        margin-top: 25px;
    }
    .ProductAvatarContainer div:last-child {
        margin-top: 25px;
    }
    .ProductAvatar {
        margin:auto
    }
    .Container ul {
        margin:auto;
        margin-bottom: 10px;
        padding: 0;
    }
}
