.Recipe {
    display: flex;
    flex-wrap: wrap;
    width: 1890px;
    margin: auto;
}

.AddRecipeButtonContainer {
    display: flex;
}

.AddRecipeButtonContainer button {
    margin: 30px auto;
    display: block;
    width:200px;
    height:40px;
    background: linear-gradient(315deg, #A3ECD3 0%, rgba(77, 231, 177, 0.5) 50%), #3DD8C1; 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color:white;
    border:none;
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-weight: 900;
}

.AddRecipeButtonContainer button:hover {
    background: linear-gradient(315deg, #7FE9C4 0%, rgba(59, 230, 170, 0.5) 50%), rgb(38, 184, 162);
}

.AddRecipeButtonContainer button:focus {
    outline: none;
}

.AddRecipeButtonContainer button:active {
    position: relative;
    left:2px;
    top:2px;
}

@media (min-width: 2560px ) {
    .Recipe {
        width: 2520px;
    }
}

@media (max-width: 1900px) {
    .Recipe {
        width: 1260px;
    }
}

@media (max-width: 1300px) {
    .Recipe {
        width: 630px;
    }
}

@media (max-width: 660px) {
    .Recipe {
        width: auto;
        justify-content: space-around;
    }
    .AddRecipeButtonContainer button {
        width:160px;
        height:30px;
        font-size: 16px;
    }
}