.ProductList {
    display: flex;
    flex-wrap: wrap;
    width: 1890px;
    margin: auto;
}

.AddProductButtonContainer {
    display: flex;
}

.AddProductButtonContainer button {
    margin: 30px auto;
    display: block;
    width:200px;
    height:40px;
    background: #4DE7B1;  
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color:white;
    border:none;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-weight: 900;
}

.AddProductButtonContainer button:hover {
    background-color: rgb(60, 211, 158);
}

.AddProductButtonContainer button:focus {
    outline: none;
}

.AddProductButtonContainer button:active {
    position: relative;
    left:2px;
    top:2px;
}

@media (min-width: 2560px ) {
    .ProductList {
        width: 2520px;
    }
}

@media (max-width: 1900px) {
    .ProductList {
        width: 1260px;
    }
}

@media (max-width: 1300px) {
    .ProductList {
        width: 630px;
    }
}

@media (max-width: 660px) {
    .ProductList {
        width: auto;
        justify-content: space-around;
    }
}