.ProductsTitleLine {
    margin: 0 15px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}

.ProductsTitleLine div{
    margin-left: 18px;
    font-size: 26px;
}

.NoProducts {
    width: 600px;
    margin: auto 15px;
    text-align: center;
    font-size: 24px;
}

@media (min-width: 2560px ) {
    .ProductsTitleLine div{
        font-size: 34px;
    }
    .NoProducts {
        width: 800px;
    }
}

@media (max-width: 660px) {
    .NoProducts {
        width: 400px;
    }
}

@media (max-width: 475px) {
    .NoProducts {
        width: auto;
    }
}

