.ProductsTitleLine {
    margin: 0 15px;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
}

.ProductsTitleLine div{
    margin-left: 18px;
    font-size: 26px;
}

@media (min-width: 2560px ) {
    .ProductsTitleLine div{
        font-size: 34px;
    }
}
