.Nutrients {
    width: 600px;
    margin: 30px 15px;
    margin-bottom: 0;
}

.StatusBarInfo {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.StatusBarBase {
    height:20px;
    background-color: #eee;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 15px;
}

.StatusBar {
    height:20px;
    position: relative;
}

.Fat {
    background: linear-gradient(180deg, #F57899 0%, rgba(245, 120, 153, 0.5) 100%);
}

.Carbs {
    background: linear-gradient(180deg, #FDB170 0%, rgba(253, 177, 112, 0.5) 100%);
}

.Protein {
    background: linear-gradient(180deg, #82C3E4 0%, rgba(130, 195, 228, 0.5) 100%);
}

.Calories {
    background: linear-gradient(180deg, #6200EE 0%, rgba(98, 0, 238, 0.5) 100%); 
}

.Vitamins {
    background: linear-gradient(180deg, #4DE7B1 0%, rgba(77, 231, 177, 0.5) 100%);
}

@media (min-width: 2560px ) {
    .Nutrients {
        width: 800px;
    }
    .StatusBarInfo {
        font-size: 28px;
    }
    .StatusBarBase {
        height: 30px;
    }
    .StatusBar {
        height: 30px;
        bottom: 30px;
    }
}


@media (max-width: 1300px) {
    .Nutrients {
        margin-bottom: 0;
    }
    .Nutrients:nth-child(2) {
        margin-top: 0;
    }
}

@media (max-width: 660px) {
    .Nutrients {
        width: 400px;
    }
}

@media (max-width: 460px) {
    .StatusBarInfo {
        font-size: 16px;
    }
}