.ItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ItemContainer p{
    padding-left:1rem;
    max-width: 320px;
}

.Minus {
    color: #e6727b; 
    align-self:center
}

.Minus:hover {
    color: red;
}

.Units {
}

.Input {
    width: 14%;  
    font-size: 1.5rem;
    margin-left: auto;
}

.Line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    margin: auto;
    display:block;
}