.ItemContainer p{
    display: inline-block;
    vertical-align:top;
    padding-left:1rem;
    max-width: 320px;
}

.Minus {
    margin: auto;
    margin-top:1em;
    color: #e6727b;
    display: inline-block;
    vertical-align:top;
}

.Minus:hover {
    color: red;
}

.Units {
    float: right;
}

.Input {
    width: 14%;
    display: inline-block;
    vertical-align:top;
    float: right;
    font-size: 1.5rem;
    margin-top:1em;
}

.Line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    margin: auto;
    display:block;
}