.Modal {
    position: absolute;
    z-index: 500;
    transition: all 0.5s ease-out;
    top:10%;
    left: calc(50% - 345px);
    background-color: #eee;
    border-radius: 8px;
    padding:30px;
    max-height: 600px;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}
@media (max-width: 700px) {
    .Modal {
        padding:15px 0;
        left: calc(50% - 315px);
    }
}

@media (max-width: 660px) {
    .Modal {
        padding:15px;
        left: calc(50% - 230px);
    }
}

@media (max-width: 475px) {
    .Modal {
        box-sizing: border-box;
        width:90%;
        left:5%;
        padding:15px 10px;
    }
}