.NutrientsElementContainer {
    width:1890px;
    margin:auto;
    margin-bottom: 30px;
    /* overflow: scroll; */
}

.NutrientsTitleLine {
    margin: 0 15px;
    border-bottom: 2px solid rgba(129, 129, 129, 0.5);
}

.NutrientsTitleLine div{
    margin-left: 50px;
    font-size: 36px;
}

.NutrientsContainer {
    display: flex;
    flex-wrap: wrap;
}



@media (min-width: 2560px ) {
    .NutrientsElementContainer {
        width: 2520px;
    }
}

@media (max-width: 1900px) {
    .NutrientsElementContainer {
        width: 1260px;
    }
}

@media (max-width: 1300px) {
    .NutrientsElementContainer {
        width: 630px;
    }
}

@media (max-width: 660px) {
    .NutrientsElementContainer {
        width: 430px;
    }
    .NutrientsTitleLine div{
        margin-left: 20px;
        font-size: 28px;
    }
}

@media (max-width: 460px) {
    .NutrientsTitleLine div{
        margin-left: 10px;
        font-size: 24px;
    }

    .NutrientsElementContainer {
        width: auto;
    }
}

@media print {
    .NutrientsTitleLine {
        display: none
    }
}
