.Logo {
    margin-left: 15px;
}

.Logo img{
    height: 100px;
    border-radius: 7px;
}

@media (min-width: 2560px ) {
    .Logo img{
        height: 150px;
    }
}

@media(max-width : 460px){
    .Logo {
        margin-left: 0;
    }
    .Logo img{
        height: 80px;
    }
}