.Drawer {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.Drawer div {
    width: 90%;
    height: 3px;
    background-color: rgb(71, 71, 71);
}

@media (min-width: 550px) {
    .Drawer {
        display: none;
    }
}