.Name {
    background-color: #a5a6ad;
    text-align: center;
    margin:auto;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding: 16px;
    padding-right: 52px;
    margin-top: -34px;
    margin-left: -34px;
    margin-right: -34px;
    margin-bottom: 32px;
    font-size: 2rem;
}

.CloseIcon {
    position: absolute;
    right:16px;
    top:16px;
    color:#d8d5d5;
    font-size: 2rem;

}

.CloseIcon:hover {
    color:#e6727b;
}