.Success {
    border:3px solid #79d693;
    background-color: white;
    color: black;
    border-radius: 6px;
    padding:6px 12px;
    font-size:18px;
    font-weight: 700;
    cursor:pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    align-self: center;
    margin:auto
}

.Success:hover {
    background-color: #79d693;
    color:white
}

.Success:active {
    position:relative;
    top:1px;
}

.Success:focus {
    outline: none;
}

.Danger {
    border:3px solid #e6727b;
    background-color: white;
    color: black;
    border-radius: 6px;
    padding:6px 12px;
    font-size:18px;
    font-weight: 700;
    cursor:pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    align-self: center;
    margin:auto
}

.Danger:hover {
    background-color: #e6727b;
    color:white
}

.Danger:active {
    position:relative;
    top:1px;
}

.Danger:focus {
    outline: none;
}