.Product {
    border: 2px solid #e8e8e8;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 15px;
    font-size:1rem;
    text-align: center;
}

.Doughnut {
    width:300px;
    height: 150px;
}

.Product:hover{
    background-color: #e8e8e8;
}

.Product div:first-of-type{
    background-color: #e8e8e8;
}
