.Header {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 8px;
    text-align: left;
}

.Headline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 38pt;
    font-weight: 800;
}

.Headline span:first-of-type{
    margin-right: 8px;
}

.Summary {
    font-size: 14pt;
}