.Header {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 8px;
    text-align: left;
}

.Headline {
    font-size: 54px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.Headline span:first-of-type{
    margin-right: 25px;
}

.Summary {
    font-size: 20px;
}

@media (min-width: 2560px ) {
    .Headline {
        font-size: 62px;
    }
    .Summary {
        font-size: 26px;
    }
}

@media (max-width: 660px) {
    .Headline {
        font-size: 48px;
    }
}

@media (max-width: 460px) {
    .Headline {
        font-size: 36px;
    }
    .Headline span:first-of-type{
        margin-right: 15px;
    }
}