.ProductsContainer {
    width:1890px;
    margin:auto;
    margin-top: 30px;
    /* overflow: scroll; */
}

.ProductsTitleLine {
    margin: 0 15px;
    border-bottom: 2px solid rgba(129, 129, 129, 0.5);
}

.ProductsTitleLine div{
    margin-left: 50px;
    font-size: 36px;
}

.ProductsListContainer {
    display: flex;
    flex-wrap: wrap;
    /* overflow-y: auto;
    max-height: 240px; */
}

.ProductContainer {
    width: 600px;
    height: 60px;
    color: white;
    border-radius: 15px;
    background-color: #6200ee;
    margin: 0 15px;
    margin-top: 15px;
    display:flex;
    position: relative;
}

.ProductInformation {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin-right: 80px;
}

.ProductInformation div {
    font-size: 24px;
    margin: auto 10px;
}

.ProductIcons {
    width: 80px;
    position: absolute;
    right: 0;
    top: 12px;
    display: flex;
}

.ProductIcons i {
    font-size: 28px;
    margin: auto;
    cursor: pointer;
}

.ProductIcons i:last-child {
    color:#F57899;
    font-size: 36px;
}

.AddButton{
    margin: 15px auto;
    display: flex;
    width:200px;
    height:40px;
    background: #4DE7B1;  
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    border:none;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 1.5px;
    font-size: 24px;
    font-weight: 900;
}

.AddButton:hover{
    background-color: rgb(60, 211, 158);
}

.AddButton:focus {
    outline: none;
}

.AddButton:active {
    position: relative;
    left:2px;
    top:2px;
}

.ChangeAmountInput {
    display:none;
}

.ChangeAmountInput input {
    border:none;
    background-color:transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color:white;
    font-size: 24px;
    text-align: right;
}

.ChangeAmountInput input:focus {
    outline: none;
}

.ChangeAmountInput input::placeholder {
    color:white;
}

/* ::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
} */

@media (min-width: 2560px ) {
    .ProductsContainer {
        width: 2520px;
    }
    .ProductContainer {
        width: 800px;
    }
}

@media (max-width: 1900px) {
    .ProductsContainer {
        width: 1260px;
    }
}

@media (max-width: 1300px) {
    .ProductsContainer {
        width: 630px;
    }
}

@media (max-width: 660px) {
    .ProductsContainer {
        width: 430px;
    }
    .ProductContainer {
        width: 400px;
    }
    .ProductsTitleLine div{
        margin-left: 20px;
        font-size: 28px;
    }
}

@media (max-width: 460px) {
    .ProductsContainer {
        width: auto;
    }
    .ProductContainer {
        width: 100%;
    }
    .ProductsTitleLine div{
        margin-left: 20px;
        font-size: 24px;
    }
    .ProductInformation {
        margin-right: 60px;
    }
    .ProductInformation div {
        font-size: 18px;
        margin-right: 2px;
    }
    .ProductIcons {
        width:60px;
        top:16px;
    }
    .ProductIcons i {
        font-size: 24px;
    }
    .ProductIcons i:last-child {
        font-size: 28px;
    }
    .ChangeAmountInput input {
        font-size: 18px;
    }
}