.ItemsList {
    width:500px;
    margin:auto;
    margin-top: 72px;
    margin-bottom: 72px;
    font-size: 1.5rem;
}

.ItemsList input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.Plus{
    color:#79d693;
}

.Plus:hover {
    color:green;
}

.ItemsList input:focus {
    outline: none;
}

.ItemsList input::placeholder {
    color:black
}

.Line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    margin: auto;
    display:block;
}

@media (max-width:550px){
    .ItemsList {
        width: 80%;
    }
}