.FootNotes {
    font-size: 12px;
    text-align: left;
    margin-top: 3px;
}

.Vitamins {
    margin-top: 6px;
    border-bottom: 5px solid black;
}

.Vitamins ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Vitamins li {
    border-top: 1px solid black;
}

@media (min-width: 2560px ) {
    .FootNotes {
        font-size: 16px;
    }
    .Vitamins ul{
        font-size: 20px;
    }
}
