.Name {
    background-color: #a5a6ad;
    text-align: center;
    margin:auto;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    padding: 16px;
    margin-top: -34px;
    margin-left: -34px;
    margin-right: -34px;
    margin-bottom: 32px;
    font-size: 2rem;
    width:500px;
}

.CloseIcon {
    position: absolute;
    right:16px;
    top:16px;
    color:#d8d5d5;
    font-size: 2rem;

}

.CloseIcon:hover {
    color:#e6727b;
}

.Form {
    display:flex;
    flex-direction: column;
}

.Form input {
    text-align: center;
    width: 100%;
    height: 2em;
    margin:auto;
    margin-bottom: 1em;
}

.Form input:focus {
    background-color: #a5a6ad;
    border-radius: 8px;
    
}

.Form input:focus::placeholder {
    color:black;
}

.ButtonsDiv{
    display:flex;
    flex-direction: column;
}

.ButtonsDiv Button {
    margin-top:1em;
}

.ErrorMessage {
    padding:1.5em;
    background-color: #e6727b;
    border-radius: 8px;
    color: white;
    text-align: center;
}