.AddProductButton {
    margin: 30px auto;
    display: block;
    width:200px;
    height:40px;
    background: linear-gradient(315deg, #A3ECD3 0%, rgba(77, 231, 177, 0.5) 50%), #3DD8C1; 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color:white;
    border:none;
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-weight: 900;
}

.AddProductButton:hover {
    background: linear-gradient(315deg, #7FE9C4 0%, rgba(59, 230, 170, 0.5) 50%), rgb(38, 184, 162);
}

.AddProductButton:focus {
    outline: none;
}

.AddProductButton:active {
    position: relative;
    left:2px;
    top:2px;
}

.AddProductButtonDisabled {
    margin: 30px auto;
    display: block;
    width:200px;
    height:40px;
    background: linear-gradient(315deg, rgb(199, 200, 200) 0%, rgba(136, 138, 137, 0.5) 50%), rgb(90, 90, 90); 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color:white;
    border:none;
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-weight: 900;
    cursor: not-allowed;
}

.AddProductTitle {
    width:1300px;
    border-bottom: 2px solid rgba(129, 129, 129, 0.5);
    margin: 50px auto;
    font-size: 36px;
}

.AddProductTitle span{
    margin-left: 50px;
}

@media (min-width: 2560px ) {
    .AddProductTitle {
        width:1700px;
        font-size: 40px;
    }
}

@media (max-width: 1400px) {
    .AddProductTitle {
        width:600px;
        font-size: 28px;
    }
}

@media (max-width: 660px ) {
    .AddProductTitle {
        width:400px;
    }
}

@media (max-width: 500px) {
    .AddProductTitle {
        margin: 50px;
        width: auto;
        font-size: 24px;
    }
    .AddProductTitle span {
        margin-left: 25px;
    }
}