.Container {
    text-align: left;
    margin-top: 6px;
}

.Headline {
    font-weight: 800;
    border-bottom: 1px solid black;
}

.CalorieSummary {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 3px solid black;
    font-size: 18px;
    white-space: nowrap;
}

.CalorieSummary span{
    margin-top:8px;
}


.CalorieSummary span b {
    font-weight: 800;
    justify-content: space-between;
}

.PeriodIndication {
    margin-top: 3px;
}

.Nutrients {
    margin-top: 6px;
    border-bottom: 5px solid black;
}

.Nutrients ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Nutrients ul ul {
    padding-left: 8px;
}

.Nutrients li {
    border-top: 1px solid black;
}

@media (min-width: 2560px ) {
    .CalorieSummary {
        font-size: 24px;
    }
    .Nutrients {
        font-size: 20px;
    }
}